BODY
{ 
  background-color: #333;
  color: white;
  font-size: 12pt;
  font-family: Tahoma, Arial, Sans;
  padding: 0px;
  margin: 0px;
}

A 
{ 
  color: #EEF;
  text-decoration: none;
  
 }

A:hover
{ 
  font-style: italic;
 }

input[type=text],
input[type=password]
{ 
  min-width: 30em;
 }

.hidden
{
   display: block;
   overflow: hidden;
   width: 0;
   height: 0;
}

DIV.songpage
{ 
  font-size: 5em;
  text-shadow: 0px 2px 2px #888;
  padding: .5em 30px 20px 30px;
  width: 90%;
  height: 100%;
  overflow: auto;
  margin-top: 1em;
  }

NAV 
{ 
  background-color: slategray;
  border-bottom: solid 2px silver;
  box-shadow: inset 0px -10px 10px #AAC, 2px 2px 4px black;
  height: 2em;
  margin-top: 0px;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  width: 100%;
  color: #EEE;
  text-shadow: 0px 0px 5px black;
  
 }

NAV UL
{ 
  list-style: none;
  margin-top: 0px;
  padding: 0;
 }

#nav_left
{
   float: left;
   width: 25%;
}

#nav_right
{
   float: right;
   width: 25%;
}

#nav_right LI
{
   float: right;
   text-align: right;
}

#songtitle{
   text-align: center;
   width: 48%;
   float: left;
   margin: 0;
   padding: 1%;
}

NAV UL LI
{ 
  float: left;
   min-width: 5em;
   width: 18%;
   padding: 10px;
 }

NAV A
{ 
  text-shadow: 0px 0px 5px black;
 }

NAV UL LI UL 
{ 
   display: none;
   margin: 0px;
   padding: 0px;
   background-color: #333;
   border-radius: .5em;
   opacity: .85;
   overflow: auto;
 }

NAV UL LI:hover UL {
   display: block;
   position: absolute;
   right: 0;
   width: 8em;
}

NAV UL LI UL LI
{ 
   margin: 2px;
   padding: 0px 10px 0px 10px;
   float: none;
   width: 8em;
 }

NAV UL LI UL LI:hover
{
   background-color: #555;
}

#authors_nav
{
   font-size: .5em;
   color: #DDD;
   clear: both;
   text-align: center;)
   width: 100%;
   margin: 0;
}

#content
{ 
   padding: 0;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   margin: 0;
}

#content H1
{
   position: absolute;
   top: 40%;
   text-align: center;
   width: 100%;
}

#category_select
{
   padding: .3em 1em;
   border-radius: 4px;
}

/************/
/* Songlist */
/************/

#songlist
{
   list-style: none;
   overflow: auto;
   width: 99%;
   width: -moz-available;
   width: -webkit-available;
   position: relative;
   overflow: auto;
   height: auto;
   margin-top: 8em;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}

#songlist LI
{ 
  font-size: 1.2em;
  border-radius: 5px;
  background-color: silver;
  color: #111;
  text-align: center;
  vertical-align: middle;
  margin: .5em;
  padding: 0px;
  letter-spacing: .1em;
  float: left;
  width: 20em;
  height: 5em;
  overflow: hidden;
}

#songlist LI .song_title
{ 
  display:block;
  color: #111;
  text-shadow: 0px 0px 3px gray;
  line-height: 1.5em;
  padding: 4px;
}
#songlist LI .keywords
{ 
  font-size: .6em;
  color: #555;
  font-style: italic;
  z-index: 800;
 }

#songlist LI .chord_icon
{ 
  background-color: lightblue;
  border-radius: 50%;
  margin: .5em;
   float: right;
}

#songlist LI .author
{
   font-size: .3em;
   display: block;
   text-align: center;
}

#songlist LI .category
{
   font-size: .4em;
   font-weight: bold;
}

#songlist LI:hover
{ 
  background-color: slategray;
  cursor: pointer;
  font-style: italic;
  }

FORM
{ 
  border-radius: 5px;
  color: #111;
  background-color: silver;
  padding: 20px;
  overflow: auto;
 }

FORM UL
{ 
  list-style: none;
 }

FORM UL LI
{ 
  text-align: left;
  overflow: auto;
  width: 90%;
  float:none;
  height: auto;
   padding: .2em;
   border-radius: 1em;
 }

FORM UL LI.selected
{
   background-color: lightslategrey;
}

FORM UL LI LABEL
{ 
  display: block;
  float: left;
  width: 10em;
 }

FORM TEXTAREA.page_textarea
{ 
  display: block;
  width: 80%;
  clear: both;
  height: 7em;
  margin-bottom: .5em;
 }

FORM INPUT[type=text]
{
   width: 24em;
}

#delete{ 
         color: red;
         border: solid 2px red;
 }

#filter_controls
{ 
   position: fixed;
   top: 2em;
   left: 0;
   right: 0;
   padding: .5em;
   background-color: #333;
   opacity: .9;
   z-index: 50;
   width: -moz-fit-content;
   width: -webkit-fit-content;
   margin-left: auto;
   margin-right: auto;
 }

#filter_controls LI
{
   display: block;
   float: left;
   margin: 0 2em;
}

DIV.songpage
{
   display: inline-block;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   text-align: left;
   overflow: visible;
}

SPAN.songline
{ 
  position: relative;
 }

SPAN.chord
{ 
  color: #DDF;
  position: absolute;
  z-index: 99;
  font-size: .5em;
  overflow: visible;
  
 }



#export_form {
   float: left;
   width: 75%;
}

#export_preview {
   float: right;
   width: 20%;
   background-color: silver;
   text-align: left;
   border-radius: .5em;
}

#export_preview LI {
   border-bottom: 1px dotted #333;
}

#songs_to_export {
   margin-left: 0;
   overflow: auto;
   height: 13em;
}


/**********/
/* FOOTER */
/**********/

#footer {
   position: fixed;
   bottom: 0px;
   text-align: center;
   opacity: .3;
   width: 100%;
   background-color: #888;
}