<form id="import_form" method="POST" action="/import" 
      enctype="multipart/form-data"
      title = "Import songs"
>

<label>Import File: </label><input type='file' name='import_file' />
<br />
<input type='submit' value='Import' />

</form>
