{% extends "base.jinja2" %}

{% block body %}
  {% include "navigation.jinja2" %}
  <div id="content">
    {% include "songlist.jinja2" %}

    <div id="song_container" style="display: none">
    </div>
  </div>
{% endblock %}
