<nav>
<ul>
{% for description, url, id in [
  ("Home", url_for("index"), "link_home"),
  ("New song", "#", "new_song"),
  ("Import", "#", "link_import"),
  ("Export", "#", "link_export"),
  ("Settings", "#", "link_settings")
  ]%}
<li id="{{id}}">
{% if url: %}
<a href="{{url}}">
{{description}}
</a>
{% else: %}
{{description}}
{% endif %}
</li>
{% endfor %}
</ul>
</nav>
