<form id=settings_form title='Application settings' method='POST' action='/post/settings'>
<ul>
<li><label>Page forward keycode: </label><input type='text' name='page_forward_key' value="{{settings.get("page_forward_key")}}" /></li>
<li><label>Page backward keycode: </label><input type='text' name='page_backward_key' value="{{settings.get("page_backward_key")}}" /></li>
<li><label>Show Author on song page: </label><select name='show_author'>
    {% for i, val in [("0", "No"), ("1", "Yes")]: %}
      <option value={{i}} 
	      {% if settings.get("show_author") == i %}selected{% endif %}
	      >{{val}}</option>
      {% endfor %}
</select></li>
<li><label>Match author on song search: </label><select name='search_author'>
    {% for i, val in [("0", "No"), ("1", "Yes")]: %}
      <option value={{i}} 
	      {% if settings.get("search_author") == i %}selected{% endif %}
	      >{{val}}</option>
      {% endfor %}
</select></li>
<li><label>Match category on song search: </label><select name='search_category'>
    {% for i, val in [("0", "No"), ("1", "Yes")]: %}
      <option value={{i}} 
	      {% if settings.get("search_category") == i %}selected{% endif %}
	      >{{val}}</option>
      {% endfor %}
</select></li>

<li><label>Lyrics Background Color</label>
  <input name=bg_color type='color' value="{{settings.get("bg_color")}}" />
    <label for=bg_color_def>Default
      <input type=checkbox 
	     name='bg_color' 
	     value='' 
	     class='color_default' 
	     id="bg_color_def" 
	     {% if settings.get("bg_color") in (None, '') %}checked{% endif %}
	     />
    </label>
</li>
<li><label>Lyrics Text Color</label>
  <input name=fg_color type='color' value="{{settings.get("fg_color")}}" />
    <label for=fg_color_def>Default
      <input type=checkbox 
	     name='fg_color' 
	     value='' 
	     class='color_default' 
	     id="fg_color_def" 
	     {% if settings.get("fg_color") in (None, '') %}checked{% endif %}
	     />
    </label>
</li>
<li><label>Chords Text Color</label>
  <input name=ch_color type='color' value="{{settings.get("ch_color")}}" />
    <label for=ch_color_def>Default
      <input type=checkbox 
	     name='ch_color' 
	     value='' 
	     class='color_default' 
	     id="ch_color_def" 
	     {% if settings.get("ch_color") in (None, '') %}checked{% endif %}
	     />
    </label>
</li>

<li><input type='submit' value='Save' /></li>
</ul>
</form>
