<nav>
<ul id="nav_left">
<li id="link_home"><a href="{{url_for("index")}}">Home</a></li>
<li id="edit_song"><a href="#">Edit</a></li>
</ul>
<div id="songtitle"></div>
<ul id="nav_right">
<li id="pagecounter"></li>

</ul>
  {% if settings.get("show_author") == '1': %}
    <div id="authors_nav">{{song.get("authors")}}</div>
    {% endif %}
</nav>
